#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.hero .content {
  text-align: center;
  position: absolute;
  margin: auto;
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  top: 40vh;
}

.hero .content h1 {
  font-size: 3rem;
  color: #fff;
}
@media screen and (max-width:468px) {
  .hero .content h1 {
    font-size: 2rem;
  }
}

.hero p {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: #fff;
}

.hero .p {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: #fff;
}

.btn {
  text-align: center;
  padding: 12px 32px; 
  font-size: 1.2rem;
  text-decoration: uppercase;
  background: transparent;
  color: #fff;
  border:  1px solid #fff;
  cursor: pointer;
}

.hero .btn:hover{
    background-color: #5F6A6A ;
}

@media screen and (max-width: 640px) {
  .content h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}
